.button {
    //width: 20%;
   // padding: 20px;
    width: 80px;
    height: 80px;
    //margin: 2px;
    border-radius: 20px;
    font-size: 30px;
}

.number {
    background-color: #ffffff
}

.operator {
    background-color: #00ffd5
    
}

.equal {
    background: linear-gradient(to right, #00ffd5, #0066ff);
}
.action {
    background-color: #ff4d4d;
   // width: 110px;
}