.container {
    display: flex;
    justify-content: center;
}

.body {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 30px;
    text-align: center;
    color: rgb(12, 65, 37);
    background-color: rgb(168, 168, 168);
    border-radius: 15px;
    width: 50%;
}